@import "src/scss/sdk/index";

$drawer-width: 900px;
$table-inner-width: $drawer-width - 30px;
$table-body-height: calc(100vh - 50px - 193px - 45px - 50px);

:export {
  tableInnerWidth: $table-inner-width;
  tableBodyHeight: $table-body-height;
}


.legends{
  height: $table-body-height;
  overflow: auto;

  :global {

    .item {
      height: 127px;
      border-top:1px dotted $bd-color;
      display: flex;
      align-items: center;
      justify-content: flex-start;

      &:last-child{
        height: 128px;
        border-bottom: 1px dotted $bd-color;
      }

      .image-box {
        width: 78px;
        height: 110px;
        border: 1px solid transparent;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;

        img {
          max-width:66px;
          max-height: 98px;
        }
      }
    }

    .info-box{
      margin: 0 0 0 10px;
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: center;
      height: 110px;

      .title-line {
        height: 26px;
        line-height: 26px;

        & > span {
          margin-right: 5px;
        }
      }

      .content-line{
        height: 26px;
        line-height: 26px;

        & > span {
          margin-right: 5px;
        }
      }
    }
  }
}
