@import "src/scss/sdk/index";

.nav {
  display: flex;
  align-items: center;
  justify-content: flex-start;

  :global {
    .nav-item{
      cursor: pointer;
      transition: color .3s ease-in-out;

      &:hover, &:active{
        color: $primary-color;

        .nav-item-inner{
          color: $primary-color;
        }
      }
    }

    .nav-item-inner{
      font-size: 14px;
      color: $font-color;
      padding: 5px 9px;

      i{
        font-size:16px;
      }

      &.item-user{

        i {
          margin-left: 3px;
        }
      }
    }
  }
}
