@import "src/scss/sdk/index";

.edit {

  :global {

    .ant-form {

      & > .ant-row {
        width: 100%;
      }
    }

    .ant-form-item{
      margin-bottom: 10px;
    }

    .ant-form-item-label{
      width: 95px;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
      line-height: 32px;

      & > label {
        width: 100%;
        display: inline;
      }
    }

    .ant-form-item-control{
      flex: 1;
    }

    .guide-line{
      display: flex;
      width: 100%;

      .text {
        font-size: 13px;
        color: $lightest-font-color;
        line-height: 30px;
      }
    }
  }
}
