@import "src/scss/sdk/index";

.imageGalleryBox{
  width: 350px;
  position: relative;

  :global{

    .no-image {
      border:1px solid transparent;
      width: 100%;
      height: 260px;
      padding: 3px;
      display: flex;
      align-items: center;
      justify-content: center;

      img {
        width:auto;
        height:auto;
        max-width: 342px;
        max-height: 252px;
      }
    }

    .image-gallery-slide-wrapper{
      width: 100%;
      height: 260px;

      .image-gallery-slide{
        width: 342px;
        height: 252px;
        display: flex;
        justify-content: center;
        align-items: center;

        img{
          max-width: 100% !important;
          max-height: 252px !important;
        }
      }
    }

    .image-gallery-thumbnails-wrapper{

      .image-gallery-thumbnails-container{
        text-align: left;
        display: flex;
      }

      .image-gallery-thumbnail{
        border-width: 1px;
        border-color: $bd-color;
        width: 62px;
        height: 62px;
        padding: 2px;
        display: inline-block;

        &.active{
          border-color: $primary-color;
          box-shadow: 0 0 3px $primary-color;
        }
      }

      .image-gallery-thumbnail-inner{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        img{
          max-width: 56px;
          max-height: 56px;
        }
      }
    }

    .image-magnify-wrapper{
      width:100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;

      img{
        width:auto !important;
        height:auto !important;
        max-width: 100% !important;
        max-height: 252px !important;
      }
    }

    .image-magnify-portal{
      position: absolute;
      left: 355px;
      top: 0;
      width: 350px;
      padding: 4px;
      z-index: 100;
    }
  }
}
