@import "src/scss/sdk/index";

.info {
  padding-top: 10px;

  :global {
    .ant-form{
      .ant-row {
        width: 100%;
      }
    }

    .ant-form-item {
      margin-bottom: 10px;

      .ant-form-item-label {
        width: 80px;
        flex-basis: 80px;
        line-height: 32px;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;

        & > label {
          width: 100%;
          display: inline;
        }
      }
    }
  }
}
