@import "src/scss/sdk/index";

$drawer-width: 900px;
$table-inner-width: $drawer-width - 30px;
$table-body-height: calc(100vh - 50px - 193px - 45px - 50px);

:export {
  tableInnerWidth: $table-inner-width;
  tableBodyHeight: $table-body-height;
}

.parts{
  height: $table-body-height;
  overflow: auto;

  :global {

    .item {
      height: 99px;
      border-top:1px dotted $bd-color;
      display: flex;
      align-items: center;
      justify-content: flex-start;

      &:hover{
        background: $table-row-hover-bg-color;
      }

      &:last-child{
        height: 100px;
        border-bottom: 1px dotted $bd-color;
      }

      .image-box {
        width: 92px;
        height: 78px;
        border: 1px solid transparent;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;

        img {
          max-width:80px;
          max-height: 66px;
        }
      }
    }

    .info-box{
      margin: 0 8px;
      flex: 1;
      display: flex;
      flex-direction: column;
      height: 78px;

      .title-line {
        height: 26px;
        padding-top: 2px;
        line-height: 24px;

        & > span {
          margin-right: 5px;
        }
      }

      .content-line{
        margin-top: 2px;
        line-height: 24px;

        & > span {
          display: inline-block;
          width: 33.33%;
          padding-right: 2px;
          float:left;
          @extend %textOverflowEllipsis;
        }
      }
    }

    .label-cart{
      color: $primary-color;
    }

    .btn-box {
      width: 80px;
      display: flex;
      align-items: center;
      justify-content: center;

      .ant-btn {
        width: 100%;
      }
    }
  }
}
