$primary-color: #1890ff;

$font-color: #333;
$lighter-font-color: #666;
$lightest-font-color: #999;

$icon-color: #999;

$bd-color: #e5e5e5;
$lighter-bd-color: #f4f4f4;

$bg-color: #eee;

$box-shadow-color: #ddd;

$header-height: 70px;
$crumbs-height: 40px;
