$primary-color: #a61f38;

$font-color: rgba(0, 0, 0, 0.65);
$lighter-font-color: #666;
$lightest-font-color: #909090;

$icon-color: #999;

$bd-color: #ededed;
$lighter-bd-color: #f4f4f4;

$bg-color: #e7e7e7;
$hover-bg-color: #fae4e8;
$body-bg-color: #f0f2f5;

$box-shadow-color: #ddd;

$header-height: 40px;
$crumbs-height: 40px;

