@import "src/scss/sdk/index";

.crumbs {
  display: flex;
  width: 100%;
  padding: 0 10px;
  height: $crumbs-height;
  line-height: $crumbs-height - 2;
  justify-content: space-between;
  align-items: center;
  background: #fff;
  border-top: 2px solid $bd-color;

  :global{

    .ant-breadcrumb-link {

      &:hover {
        .anticon{
          color: $lightest-font-color;
        }
      }

      .anticon {
        margin-right: 5px;
      }
    }

    .left-box{
      display: flex;
      flex-direction: row;
      align-items: center;

      .operator-wrapper{
        margin-left: 20px;

        i{
          font-size: 16px;
          cursor:pointer;
        }
      }
    }

    a{
      cursor: pointer;

      .crumbs-text{
        color: $lightest-font-color;
      }
    }

    .crumbs-text{

      &span{
        color: $font-color;
      }
    }
  }
}
