@import "src/scss/sdk/index";

.crumbs {
  display: flex;
  width: 100%;
  padding: 0 15px;
  height: $crumbs-height;
  justify-content: space-between;
  align-items: center;
  background: #fff;

  :global{

    a{
      cursor: pointer;

      .crumbs-text{
        color: $lightest-font-color;
      }
    }

    .crumbs-text{

      &span{
        color: $font-color;
      }
    }
  }
}
