@import "src/scss/sdk/index";

.vinDetail{
  :global{

    td {
      line-height: 38px;

      &:first-child{
        padding-right: 10px;
        font-weight: bold;
      }
    }

    .btns {
      button {
        margin-left: 15px;
      }
    }

    .table-wrapper{
      padding: 10px 15px;
    }
  }
}
