@import "src/scss/sdk/index";

$parts-width: 720px;
$table-inner-width: $parts-width - 4;
$table-body-height: calc(100vh - 140px);
$empty-table-body-height: calc(100vh - 100px);

:export {
  tableInnerWidth: $table-inner-width;
  tableBodyHeight: $table-body-height;
}

.parts {
  position: relative;
  width: 100%;
  transition: margin .3s ease-in-out;

  :global {

    .link-button {
      color: $primary-color;
      cursor: pointer;
    }

    .panel-part-list {
      width: 100%;
    }

    .empty-table {
      .ant-table-content {
        overflow-y: hidden;
        height: $empty-table-body-height;
      }
      .ant-table-tbody {
        display: block;
        height: $table-body-height !important;
      }
    }

    .part-list {

      .ant-table-header {
        border-radius: 0 !important;
      }

      .ant-table-body {
        height: $table-body-height !important;
        overflow: auto !important;
      }

      colgroup{

        col:first-child{
          width:0 !important;
          min-width: 0 !important;
        }
      }

      .ant-table-selection-column{
        width: 0 !important;
        overflow: hidden;
        visibility: hidden;
      }

      .operator-wrapper {
        display: flex;
        align-items: center;

        .link-button {
          display: inline-block;
          width: 100px;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          color: $font-color;
          text-decoration: underline;

          &:hover {
            color: $primary-color;
          }
        }

        .btns {
          color: $primary-color;
          .anticon {
            cursor: pointer;
            font-size: 16px;
            margin-right: 8px;

            &:last-child{
              margin-right:0;
            }
          }
        }
      }
    }
  }
}


