@import "src/scss/sdk/index";

$parts-width: 720px;
$table-width: $parts-width - 4;
$table-body-height: calc(100vh - 140px);

:export {
  tableWidth: $table-width;
  tableBodyHeight: $table-body-height;
}

.parts {
  position: relative;
  width: $parts-width;
  margin-left: 20px;
  transition: margin .3s ease-in-out;

  :global {

    .link-button {
      color: $primary-color;
      cursor: pointer;
    }

    .panel-part-list {
      width: 100%;
    }

    .part-list {

      .ant-table-header {
        border-radius: 0 !important;
      }

      .ant-table-body {
        //height: $table-body-height !important;
        overflow: auto !important;
      }

      .operator-wrapper {
        display: flex;
        align-items: center;

        .link-button {
          display: inline-block;
          width: 100px;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          color: $font-color;
          text-decoration: underline;

          &:hover {
            color: $primary-color;
          }
        }

        .btns {
          color: $primary-color;
          i {
            cursor: pointer;
            font-size: 16px;
            margin-right: 8px;

            &:last-child{
              margin-right:0;
            }
          }
        }
      }
    }
  }
}


