@import "src/scss/sdk/index";

.printLegend {
  padding: 20px;

  :global {

    .image-wrapper {
      width: 100%;
      height: 640px;
      display: flex;
      align-items: center;
      justify-content: center;
      border: 1px solid $bd-color;
      background: #fff;

      img {
        max-width: 510px;
        max-height: 630px;
      }
    }

    .table-wrapper {
      flex: 1;
      margin-top: 20px;

      table {
        page-break-inside: auto;
      }

      tr {
        page-break-inside: avoid;
        page-break-after: auto;
      }

      thead {
        display: table-header-group;
      }

      tfoot {
        display: table-footer-group;
      }
    }
  }
}
