@import "src/scss/sdk/index";

.container {
  display: flex;

  :global {

    .panel {
      display: flex;
      flex-direction: column;
      height: 100%;
      overflow: hidden;
      background: #fff;
      border: 1px solid $bd-color;
    }

    .panel-part-list {
      width: 800px;
    }
  }
}
