@import "src/scss/sdk/index";


$part-list-body-height: calc(100vh - 168px);

:export{
  partsTableBodyHeight: $part-list-body-height;
}

.container {
  display: flex;

  :global{

    .panel-tree{
      width: 250px;
      height: 100%;
    }

    .panel-legend{
      flex: 1;

      .svg-wrap{
        height: calc(100vh - #{$header-height + $crumbs-height + 10});
      }
    }

    .panel-part-list{
      width: 800px;

      .ant-table-body{
        height: $part-list-body-height !important;
        overflow-y: auto !important;
      }
    }
  }
}
