@import "src/scss/sdk/index";

.header{
  display: flex;
  height: $header-height;
  justify-content: space-between;
  padding: 0 15px;
  align-items: center;

  :global{

    .ant-menu-horizontal{
      border-bottom: 1px solid transparent;
    }

    .logo-box {
    }


    .nav-box {

    }
  }
}


