@import "src/scss/sdk/index";

.nav {
  display: flex;
  align-items: center;
  justify-content: start;

  :global {
    .nav-item{
      cursor: pointer;
      height:48px;
      border-bottom: 2px solid transparent;
      transition: border-bottom-color .3s ease-in-out;
      line-height: 46px;

      &:hover, &:active{
        color: $primary-color;
        border-bottom: 2px solid $primary-color;

        .nav-item-inner{
          color: $primary-color;
        }
      }
    }

    .nav-item-inner{
      font-size: 14px;
      color: $font-color;
      padding: 0 20px;

      i{
        font-size:14px;
        margin-right: 10px;
      }
    }
  }
}
