@import "src/scss/sdk/index";

:global {
  .panel-tree {
    width: 250px;
    height: 100%;
    transition: margin .3s ease-in-out;

    .panel-content-inner {
      padding: 5px;
      overflow-x: hidden;
      overflow-y: auto;
    }

    .ant-tree{

      .ant-tree-treenode-selected{

        &::before {
          background: none !important;
        }

        & > .ant-tree-switcher{
          color: $primary-color !important;
        }

        & > .ant-tree-node-content-wrapper{
          color: $primary-color !important;
        }
      }

      .ant-tree-node-selected{
        & > .ant-tree-iconEle {
          .icon-dot {
            background: $primary-color;
          }
        }
      }

      & > li > .ant-tree-node-content-wrapper{
        width: 214px;
        white-space: pre-wrap;
      }

      li .ant-tree-node-content-wrapper {
        height: auto;

        &::before{
          height: auto !important;
        }

        .ant-tree-iconEle{
          text-align: left;
          width:20px;
        }
      }

      .ant-tree-child-tree {
        .ant-tree-node-content-wrapper {
          width: 200px;
          white-space: pre-wrap;
        }
      }

      .ant-tree-switcher-noop {
        display: none;
      }

      .ant-tree-switcher_open, .ant-tree-switcher_close{
        & + .ant-tree-node-content-wrapper > .ant-tree-iconEle{
          display: none;
        }
      }
    }

    .icon-dot-wrapper {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;

      .icon-dot{
        display: inline-block;
        width:4px;
        height: 4px;
        background: $font-color;
        border-radius: 100%;
        transition: background .3s ease-in-out;
      }
    }
  }
}
