@import "src/scss/sdk/index";

.groupsWrapper{
  transition: margin .3s ease-in-out;
}

.groups {
  width: 100%;
  height: 100%;

  :global {

    .panel-content-inner {
      padding: 5px;
      overflow-x: hidden;
      overflow-y: auto;
    }

    .panel-tree {
      width: 100%;
      display: flex;
    }

    .ant-tree{
      .ant-tree-switcher-noop + .ant-tree-node-content-wrapper {
        font-weight: normal !important;
      }

      .ant-tree-node-content-wrapper {
        //display: flex;
        font-weight: bold;

        .ant-tree-iconEle {
          width: 18px;
        }

        .ant-tree-title {
          font-size:13px;
          word-break: break-all;
        }
      }

      .ant-tree-treenode-selected{

        &::before {
          background: none !important;
        }

        & > .ant-tree-switcher{
          color: $primary-color !important;
        }

        & > .ant-tree-node-content-wrapper{
          color: $primary-color !important;
        }
      }

      .ant-tree-node-selected{
        & > .ant-tree-iconEle {
          .icon-child-dot {
            background: $primary-color;
          }
        }
      }

      .ant-tree-switcher-noop {
        display: none;
      }

      .ant-tree-switcher_open, .ant-tree-switcher_close{
        & + .ant-tree-node-content-wrapper > .ant-tree-iconEle{
          display: none;
        }
      }
    }

    .icon-dot-wrapper {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;

      .icon-child-dot{
        display: inline-block;
        width:4px;
        height: 4px;
        background: $font-color;
        border-radius: 100%;
        transition: background .3s ease-in-out;
      }
    }
  }
}
