@import 'src/scss/sdk/index';

$drawer-width: 900px;
$table-inner-width: $drawer-width - 30px;
$table-body-height: calc(100vh - 50px - 192px - 5px - 45px - 55px - 50px);

:export {
  tableInnerWidth: $table-inner-width;
  tableBodyHeight: $table-body-height;
}

.applicability{

  :global {

    .ant-table-body {
      height: $table-body-height !important;
    }
  }
}
