@import "src/scss/sdk/index";

.condition {
  position: relative;
  margin-left: 10px;

  :global {

    .panel-year{
      width: 185px;
    }

    .panel-model{
      width: 345px;
    }

    .text-list{
      width: 100%;

      .item {
        display: flex;
        width:100%;
        font-size: 13px;
        @include setHeightGroup(30px);
        cursor: pointer;
        transition: background-color .3s ease-in-out;
        @extend %textOverflowEllipsis;

        .text-wrapper{
          width: 100%;
          height: 100%;
          @extend %textOverflowEllipsis;
        }

        a{
          display: inline-block;
          width: 100%;
          height: 100%;
          color: $font-color;
          @extend %textOverflowEllipsis;
        }

        .icon-wrapper{
          display: inline-block;
          width: 30px;
          @include setHeightGroup(30px);
          text-align: center;

          .dot {
            display: inline-block;
            padding:3px;
            border-radius: 50%;
            background: $icon-color;
            transition: background-color .3s ease-in-out;
          }
        }

        .text{
          flex: 1;
          padding: 0 5px 0 0;
          transition: margin .3s ease-in-out;
          @include setHeightGroup(30px);
        }

        &:hover{
          color: $primary-color;

          a{
            color: $primary-color;
          }

          .dot{
            background-color: $primary-color;
          }

          .text{
            margin-left: -3px;
          }
        }

        &.active{
          background: $hover-bg-color;
          color: $primary-color;

          .dot{
            background-color: $primary-color;
          }
        }
      }
    }

    .condition-guide-arrow{
      position: absolute;
      left: 0;
      top: 45%;
      margin-top:-25px;
      margin-left: -10px;
      width:25px;
      height: 50px;
      line-height: 48px;
      background: rgba(220, 220, 220, .5);
      border-top-right-radius: 50px;
      border-bottom-right-radius: 50px;
      border:1px solid $bd-color;

      i {
        color: $primary-color;
        margin-left:2px;
        font-size: 16px;
      }
    }
  }
}
