@import "src/scss/sdk/index";

.query {

  :global {

    .ant-form-item{
      display: flex;

      .ant-form-item-label {
        width: 75px;
        flex-basis: 75px;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;

        & > label {
          width: 100%;
          display: inline;
        }
      }
    }

    .first-column{

      .ant-form-item {
        width: 280px;
      }
    }

    .vin-wrapper {
      display: flex;
      align-items: center;

      .ant-form-item {
        margin-right:0;
      }

      .btn {
        margin:-10px 0 0 -5px;
        color: $primary-color;
        cursor: pointer;
        text-decoration: underline;
      }
    }

    .model-wrapper{

      .ant-form-item-control-wrapper{
        width: 455px;
      }
    }
  }
}
