@import "src/scss/sdk/index";

.query {

  :global {

    .first-column{
      width: 284px;

      .ant-form-item-control-wrapper{
        width: 160px;
      }
    }

    .vin-wrapper {
      display: flex;
      align-items: center;

      .ant-form-item {
        margin-right:0;
      }

      .btn {
        margin-left:5px;
        color: $primary-color;
        cursor: pointer;
      }
    }

    .model-wrapper{

      .ant-form-item-control-wrapper{
        width: 455px;
      }
    }
  }
}
