@import "scss/sdk/index";
@import "scss/common/reset";
@import "../public/styles/iconfont/iconfont.css";

html,body{
  background: $body-bg-color !important;
  min-width: 1200px;
  font-family: 'Microsoft Yahei', Arial, STHeiti, sans-serif !important;
}

.spin-inner{
  width: 100%;
  height: 100%;
}
