@import "src/scss/sdk/index";

.purchaser{

  :global {

    .btn-edit {
      margin-left:30px;
      cursor: pointer;

      &:hover{
        color: $primary-color;
      }
    }

    .ant-row {
      line-height:30px;
    }

    .item-label {
      display: inline-block;
      width: 85px;
    }

    .info.en {
      .item-label{
        width: 200px;
      }
    }
  }
}
