@import "src/scss/sdk/index";

.crumbs {
  display: flex;
  width: 100%;
  padding: 0 15px;
  height: $crumbs-height;
  justify-content: space-between;
  align-items: center;
  background: #eeeeee;

  :global{
    .crumbs-text{
      color: $primary-color;
    }
  }
}
