@import "src/scss/sdk/index";

.crumbs {
  display: flex;
  width: 100%;
  padding: 0 15px;
  height: $crumbs-height;
  justify-content: space-between;
  align-items: center;
  background: #e7e7e7;

  :global{
    .crumbs-text{
      color: $primary-color;
    }

    .operator-box{
      display: flex;
      flex-direction:row;
      align-items: center;

      .item{
        padding: 0 5px;

        &:last-child{
          padding-right:0;
        }
      }

      .item-star{
        cursor: pointer;

        i{
          font-size:18px;
          color: $primary-color;
        }
      }

      .item-search{
        width: 360px;
      }
    }
  }
}
